spring:
  profiles:
    active: production

  #Swagger (Spring Boot 2.6 이후 해당 설정 Default 값 변경으로 인한 수동 설정)
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  #DB
  #Local DB Source
  datasource:
    url: jdbc:mysql://localhost:3306/moiming_dev_db?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: peoplein
    driver-class-name: com.mysql.cj.jdbc.Driver

    #Test Server Source
#      url: jdbc:mysql://dev-database:3306/moiming_dev_db?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
#      username: moiming-be
#      password: vlvmfdls12!@

  jpa:
    hibernate:
      ddl-auto: create
    database: mysql
    properties:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
    defer-datasource-initialization: true
    generate-ddl: true
    open-in-view: false

app_files:
  fcm_path: src/main/resources/fcm/moiming-b2ae3-firebase-adminsdk-21zjr-11c77c69f7.json